---
title: Daily Breifing
layout: base.njk
pagination:
  data: news
  size: 1
  alias: news
permalink: /{{ news.country }}/index.html
---

<h1>Breaking News in Your Country</h1>
<div class="vibe">Hi there</div>

<ul>
  {% for article in news.articles %}
    <li>
      <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
      <span>{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span>
    </li>
  {% endfor %}
</ul>

<script src="js/vibe.js"></script>